@model UserListVm

<div class="table-responsive">
    <table class="table table-bordered mb-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>E-poçt</th>
                <th>Cinsiyyət</th>
                <th>Qeydiyyat tarixi</th>
                <th>Rol</th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.GenderText</td>
                    <td>@user.Registered?.ToString("dd/MM/yyyy hh:mm:ss")</td>
                    <td class="text-center">
                        @if (user.RoleId == (byte)UserRoleEnum.User)
                        {
                            <span class="badge badge-success">@user.Role</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">@user.Role</span>
                        }
                    </td>

                    <td class="text-center">
                        @if (user.UserStatusId == (byte)UserStatusEnum.Active)
                        {
                            <span class="badge badge-success">@user.StatusText</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">@user.StatusText</span>
                        }
                    </td>
                    <td class="text-center">
                        <div class="dropdown custom-dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                <a class="dropdown-item" href="javascript:void(0);">Düzəliş et</a>
                                <a class="dropdown-item" href="javascript:void(0);">Sil</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
